name: build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: 'sbt'
    - name: Build Distribution
      run: sbt dist

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{github.actor}}
        password: ${{secrets.GITHUB_TOKEN}}

    - name: Build And Push Image
      run: |
        docker buildx build . --tag ghcr.io/hannahellis4242/sbpss/scala-book-page-sequence-service:latest --build-arg BUILDKIT_MULTI_PLATFORM=1 .
        docker push ghcr.io/hannahellis4242/sbpss/scala-book-page-sequence-service:latest
